*{
    margin: 0;
    padding: 0;
}
.hero_area{
    height: auto;
}

.main-body{
    display: grid;
    row-gap: 20px;
}
.form-container{
    width: 50%;
    margin: 0 auto 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    border: 1px solid rgb(38, 38, 38);
    color: black;
    border-radius: 10px;
}

.navbar-form{
    width: 80%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}

.body-navbar{
    font: bold 30px sans-serif;
    color: rgb(239, 240, 241);
}

.link :hover{
    color: rgb(27, 161, 239);
}

.form-detail{
    justify-self: center;
    font: bold 25px sans-serif;
    padding-top: 20px;
}

.logo{
    grid-column: span 3;
    justify-self: start;
    text-align: start;
}

.reg-form{
    margin: 40px;
    background-color: rgb(219, 219, 219);
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    padding: 5px 30px;
    display: grid;
    grid-template-columns: 200px 250px 250px;
    column-gap: 5px;
    row-gap: 10px;
    text-align: center;
    justify-self: center;
    padding: 20px 10px;
}

.edit-btn{
    justify-self: start;
    align-self: center;
    font-size: 18px;
}

.chooseLogo{
    border: 1px solid rgb(56, 56, 56);
    padding: 5px;
    background-color: aliceblue;
    border-radius: 5px;
}


.addedDetails{
    display: none;
}

.button{
    align-self: end;
    justify-self: center;
    padding: 5px 25px;
    background-color: rgba(144, 56, 227, 0.7);
    color: whitesmoke;
}

.columnSpanned{
    grid-column: span 2;
    justify-self: start;
}

.form-input{
    height: 35px;
    width: 250px;
    justify-self: start;
    align-self: center;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 5px;
}
.label{
    font-size: 18px;
    justify-self: center;
    align-self: center;
}

.form-submit{
    width: 50%;
    margin: auto;
    grid-column: span 3;
    justify-items: center;
    font: bold 20px sans-serif;
    padding: 10px 0 5px 0;
}

