.card {
   pointer-events: all;
   cursor: pointer;
   width: 18rem;
}

.logo-save {
   display: flex;
   justify-content: space-between;
   pointer-events: fill;
}

.card img {
   width: 40px;
   height: 40px;
}

.bi-bookmark {
   border-color: purple;
}

.description-content {
   background-color: rgb(255, 255, 255);
   color: black;
   position: absolute;
   top: 17.5%;
   left: 44%;
   height: 68%;
   width: 55%;
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s ease-in-out;
   z-index: 5;
   overflow-y: scroll;
}

.description {
   position: absolute;
   height: 100%;
   width: 50%;
   top: 31%;
   right: 36%;
   transform: translate(-50%, -50%) scale(0.5);
   transition: all 0.3s ease-in-out;
}

.description p {
   color: orange;
   font-size: 40px;
}

.data {
   display: inline;
   color: white;
   font-size: 40px;
}

.open {
   opacity: 1;
   pointer-events: all;
}

.close {
   pointer-events: none;
}
