*{
    margin: 0;
    padding: 0;
}
.hero_area{
    height: auto;
}
.main-body{
    background-color: rgb(255, 255, 255);
    width: 45%;
    margin: 20px auto;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}
.addingSkill{
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    font: bold 25px sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.skillAddedForm{
    width: 45%;
    margin: 30px auto;
    display: grid;
    row-gap: 20px;
    padding: 40px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}
.main-body p{
    margin: 0;
}

.input-skill{
    border: 1px solid rgb(45, 44, 44);
    border-radius: 5px;
    height: 50px;
    align-self: start;
}

.button{
    background-color: rgb(75, 162, 244);
    color: aliceblue;
    width: 60%;
    padding: 5px;
}